@import "~normalize.css/normalize.css";

html{
  height: 100%;
  width: 100%;
}
body {
  display: inline-block;
  height: inherit;
  width: inherit;
}
.main {
  display: flex;
  flex-direction: column;
  width: inherit;
}

/* homepage > .home-header-container and .content */
.homepage {
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: 
  "home-header"
  "content-cont";
  height: 100vh;
}

.home-header-container{
  display: grid;
  grid-area: home-header;
  color: whitesmoke;
  background-color: #228e58;  
}
.home-header-container > h1{
  margin-left: 10px;
}
/* child of .homepage / parent of side-bar-container and .task-container*/
.content {
  display:flex;
  grid-area: content-cont; 
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
}
 
/* child of .content */
@media only screen and (max-width: 400px){
  .side-bar-main{
    width: 35px;
    align-items: center;
}
  .collapse-icon{
    transform: rotate(180deg);
  }
}
.side-bar-main{
  display: flex;
  flex-direction: column;
  background-color: #D9D9D3;
  padding: 15px;
  width: 350px; 
  transition: width 0.3s ease-out;
}

/*children of side-bar-main */

.side-bar-icon{
  display: flex;
  align-self: flex-end;
  margin-bottom: 20px;
  width: fit-content;
}

.side-bar-menu {
  display: flex;
  flex-direction: column;
  grid-area: 10px;
}

.side-bar-menu > #inbox{
  display: grid;
  grid-template-columns: .35fr 1fr;
 /* grid-template-rows: 1fr minmax(300px, fit-content); */
  width: initial;
  align-items: center;
}
.side-bar-menu > #weekly{
  display: grid;
  grid-template-columns: .35fr 1fr;
  width: initial;
  align-items: center;
}

.side-bar-menu > .projects {
  display: grid;
  grid-template-columns: .35fr 1fr;
  width: initial;
  align-items: center;
}

.projects-all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
}

button.add-project-button {
  padding-bottom: 5px;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.active-tasks{
  background-color: #c1c1bb;
  border-radius: 10px;
}


#projects-hidden{
  visibility: hidden;
  display: none;
}

.project{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects-added{
  /* max-width: 160px; */
  min-width: 160px;
}

#temp-project{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "input input"
  "add delete";
  max-width: inherit;
  width: inherit;
}

#temp-project > #project-input{
  display: inline-block;
  grid-area: input;
}
#temp-project > #project-add-button{
  display: inline-block;
  grid-area: add;
}

#temp-project > #project-delete-button{
  display: inline-block;
  grid-area: delete; 
}

/*change the sidebar icon*/
.collapse-icon{
  transform: rotate(180deg);
}

.collapse{
  width: 35px;
  transition: width 0.3s ease-out;
  align-items: center;
}

svg{
  width: 35px;
  height: 35px;
}

/* child of .content */
.tasks-container{
  display: grid;
  background-color: #fefdfc;
  justify-items: center;
  grid-template-rows: 60px 60px;
  width: 100%;
  row-gap: 10px;
}
.active {
  /* just a tag*/
}
/* children of task-container */
.tasks-header{
  display: flex;
} 

.open-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}
.open-modal > button{
  background-color: #D9D9D3;
}
.tasks{
  display: grid; 
  grid-auto-rows: min-content;
  row-gap: 10px;
  overflow: scroll; 
  /* margin-top: 20px; */
  max-width: 900px;
  transition: all 2s ease-out;
  margin-bottom: 15px; 
}

/* children of .tasks */
.task{
  display: grid;
  grid-template-columns: minmax(40px, 0.25fr) repeat(3, 1fr);
  grid-template-areas: 
  "checked title dueDate priority"
  ". buttons . .";
  margin: 20px 20px 10px 20px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  transition: all 2s ease-out; 
}

.editing{
  /* -webkit-box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
  box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5); */
  filter: drop-shadow(0 0 0.75rem  rgba(155, 155, 155, 0.612));
}
.edit{
  background-color: rgb(178, 251, 178);
  
}
.task > div{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.task > div > input, textarea, select {
  border: solid black 1px ;
  border-radius: 5px;
  width: 90%;
  height: 30px;
}

.task > div >  input[type="date"] {
  height: 32px; 
}
.completed-task{
  color: gray;
  /* background-color: darkgray; */
  text-decoration: line-through;
}

/*textarea -- has to fit with input types, it does change input tag height*/
.check-item{
  grid-area: checked; 
  position: relative;
}

#check-box{
  display: flex; 
  top: 34px;
}
/* Completed TASK button */

#check-item{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.green {
  background-image: url(../assets/images/done_FILL1_wght400_GRAD0_opsz20.svg); 
  background-color: #66bb6a;
  border-color: #66bb6a;
}

/*end of CHECKED checkbox*/

/* children of .task */
.title-item{
  grid-area: title;
}
.title-item > input:invalid{
  background-color: red;
}

/* .description-item{
  grid-area: description;
}
.description-item > textarea{
  width: 90%;
  height: 28px;
} */

.dueDate-item{
  grid-area: dueDate;
}

.dueDate-item > input{
  height: 30px;
}
.priority-item{
  grid-area: priority;
} 
.priority-item > select{
  width: 90%;
  height: 100%;
}
select:disabled{
  color: black;

}

#task-buttons{
  display: flex;
  flex-direction: row;
  grid-area: buttons;
  column-gap: 48px;
  justify-content: space-between;
}

.task-buttons > button{
  width: 60px;
}


/* overlaymodal and form */
.overlay-modal {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(152, 27, 27, 0.5);
  z-index: 2;
  cursor: pointer;
}

.modal-parent {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(125,125,255);
  border-radius: 20px;
  background-color: rgb(125, 125, 255);
  position: absolute;
  max-width: 600px;
  z-index: 3;
  padding: 10px;
  margin: 200px 1rem 0px 350px;

}
.formContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#task-form{
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  column-gap: 10px;
}

#task-form > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#task-form > div > input, select, textarea {
  border: solid black 1px;
  border-radius: 5px;
  width: 90%;
  height: 30px;
}

.description{
  width: 90%;
  /* height: 28px; */
}

/* modal hide form -- has to be after form and overlay div */
.hidden {
  display: none;
}
.blue {
  color: blue;
  font: 40px;
}

button{
  border: solid 1px black;
  border-radius: 5px;
}


