@import "~normalize.css/normalize.css";

html{
  height: 100%;
  width: 100%;
}
body {
  display: inline-block;
  height: inherit;
  width: inherit;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: inherit;
  width: inherit;
}

/* homepage and task container */
.home-header-container{
  display: grid;
  grid-area: home-header;
  background-color: #B7DF7C;
}
.side-bar-container{
  display: grid;
  grid-area: sidebar;
}
.tasks-container{
  display: grid;
  grid-area: tasks;
  background-color: #D9D9D3;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "home-header home-header"
  "sidebar tasks";
  padding: 2px;
  background-color: #DCE0E5;

}

/* parents of task */
.tasks{
  display: grid; 
  row-gap: 10px;
}
.task{
  display: grid;

  grid-template-columns: repeat(4, 1fr);  
}

/* task-items */
/* 
.title-item{

}
.description-item{

}
.dueDate-item{

 .priority-item{
 } 

} */

/* overlaymodal and form */
.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(152, 27, 27, 0.5);
  z-index: 1;
  cursor: pointer;
}

.modal-parent {
  display: flex;
  flex-direction: column;
  background-color: rgb(125, 125, 255);
  position: fixed;
  z-index: 2;
  padding: 10px;
  margin: 20px 61px;
}

form > div {
  display: flex;
  flex-direction: column;
}

/* modal hide form -- has to be after form and overlay div */
.hidden {
  display: none;
}
.blue {
  color: blue;
  font: 40px;
}
button:hover {
  color: red;
}


